/* Write your CSS here */
.not-found-image {
  width: 25%;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lost-text {
  color: #616e7c;
  font-family: 'Roboto';
  text-align: center;
}
.description {
  color: #616e7c;
  font-family: 'Roboto';
  text-align: center;
}
